# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [3]:
ctoplam= 5
b=((ctoplam+2*3)*3)-3
print(b)

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [4]:
#2. soru 

a="Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."

a.replace("veri bilim","VERİ BİLİM")

'Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere VERİ BİLİMci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.'

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [7]:
ad = "Cemre" 
soyad = "Erdoğan" 
yas = "27"
sehir = "Eskişehir" 
ortalama = "2,82"

print(ad," ",soyad," ",yas," ",sehir," ",ortalama)

Cemre   Erdoğan   27   Eskişehir   2,82

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [4]:
a="Veri bilimi günümüzün en heyecan verici alanlardan biridir."
vb=a[:11]
x=f"{vb}\n"*len(vb)
print(x)

Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi

In [9]:
a="Veri bilimi günümüzün en heyecan verici alanlardan biridir."
ab=a[-19:]
x=f"{ab}\n"*len(ab)
print(x)

alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [21]:
a="veri bilimi"
a.isupper()

False

In [22]:
b="VERİ BİLİMİ"
b.isupper()

True

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [95]:
a=["Cemre","Erdoğan","27","Eskişehir","2.82"]
listem=a.copy()
print(listem)

['Cemre', 'Erdoğan', '27', 'Eskişehir', '2.82']

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [108]:
listem2=a[2:]
print(listem2)

['27', 'Eskişehir', '2.82']

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [109]:
for eleman in listem2:
    print(type(eleman))

<class 'str'>
<class 'str'>
<class 'str'>

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [110]:
eklenecek_liste = ["Ali", 90, "Mehmet"]

In [111]:
listem2=[listem2,eklenecek_liste]
listem2

[['27', 'Eskişehir', '2.82'], ['Ali', 90, 'Mehmet']]

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [112]:
listem3=listem2[1][:2]
listem3

['Ali', 90]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [113]:
for i in listem3:
    listem2.append(i)
    
listem2

[['27', 'Eskişehir', '2.82'], ['Ali', 90, 'Mehmet'], 'Ali', 90]

12- "listem2" içerisinden 90 elemanını siliniz.

In [114]:
listem2.remove(90)
listem2

[['27', 'Eskişehir', '2.82'], ['Ali', 90, 'Mehmet'], 'Ali']

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [ ]:
yeni_liste=[10,9,8,7,6,5,4,3,2,1]

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [119]:
yeni_liste.index(7)

3

In [120]:
yeni_liste.index(2)

8

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [122]:
tuple1=tuple(listem2)
tuple1

(['27', 'Eskişehir', '2.82'], ['Ali', 90, 'Mehmet'], 'Ali')

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

In [123]:
tuple1.replace("Ali","Veli") #Tuple elemanı değiştirelemez.

AttributeError: 'tuple' object has no attribute 'replace'

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [133]:
yeni_tuple = tuple(i for i in range(10,0,-1))
yeni_tuple

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [139]:
liste=[2,7]
for i in liste:
    x=yeni_tuple.index(i)
    print(x)

8
3

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [162]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}

In [163]:
print(dictionary["REG"][1],
dictionary["LOG"][1],
dictionary["CART"][1])

10 20 10

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [164]:
dictionary["CART"]=["SSE", 30]
dictionary

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [165]:
dictionary["RF"]=["SSE", 50]
dictionary

{'REG': ['RMSE', 10],
 'LOG': ['MSE', 20],
 'CART': ['SSE', 30],
 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [168]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]

In [177]:
set1=set(liste1)
set1

{10, 20, 'Ali', 'Ayşe', 'Mehmet'}

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

In [172]:
print(set1[0]) #SET sırasızdır.

TypeError: 'set' object is not subscriptable

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [178]:
set1.remove("Ali")
set1.add("Veli")
set1
set1.remove(10)
set1.add(40)
set1

{20, 40, 'Ayşe', 'Mehmet', 'Veli'}

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [186]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [181]:
set1.difference(set2)

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [183]:
set2.difference(set1)

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [187]:
set2.symmetric_difference(set1)

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [188]:
set1.intersection(set2)

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [189]:
set1.union(set2)

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [190]:
set1.isdisjoint(set2)

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [191]:
set1.issubset(set2)

False

25.8- Bir küme diğer kümeyi kapsıyor mudur? (issuperset())

In [197]:
set1.issuperset(set2)

False

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [205]:
maaslar = [1000,2000,3000,4000,5000]

In [204]:
zamli_maaslar=[]
for maas in maaslar:
    x=maas*1.2
    zamli_maaslar.append(int(x))
print(zamli_maaslar)

[1200, 2400, 3600, 4800, 6000]

In [213]:
zamli_maaslar=[int(i*1.2) for i in maaslar]
zamli_maaslar

[1200, 2400, 3600, 4800, 6000]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [216]:
def kesinti(maaslar):
    kesintilimaaslar=[]
    for maas in maaslar:
        if maas<2500:
            kesinti_miktari=50
        else:
            kesinti_miktari=100
        kesintilimaas=maas-kesinti_miktari
        kesintilimaaslar.append(kesintilimaas)
    return kesintilimaaslar
yenimaaslar=kesinti(zamli_maaslar)
yenimaaslar

[1150, 2350, 3500, 4700, 5900]

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [5]:
students = ["John", "Mark", "Venessa", "Mariam"]

In [9]:
a=list()
for i in enumerate(students):
    a.append(i)
print(a)

[(0, 'John'), (1, 'Mark'), (2, 'Venessa'), (3, 'Mariam')]

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [17]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [11]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [63]:
string= "hi my name is john and i am learning python"
new_string=""
for i, char in enumerate(string):
   
    if i % 2 == 0:
        new_string += char.upper()
    else:
        new_string += char.lower()
        
print(new_string)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [38]:
ad=input("Lütfen isminizi giriniz.")
yas=input("Lütfen yaşınızı giriniz")
print('Merhaba,benim ismim',ad,",",yas,"yaşındayım!" )

Lütfen isminizi giriniz. Cemre
Lütfen yaşınızı giriniz 27

Merhaba,benim ismim Cemre , 27 yaşındayım!